<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VBLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VBLauncher.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VBLauncher.Properties.Settings>
            <setting name="STFEditEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledMods" serializeAs="String">
                <value />
            </setting>
            <setting name="STFDir" serializeAs="String">
                <value />
            </setting>
        </VBLauncher.Properties.Settings>
        <VBLauncher.MySettings>
            <setting name="STFEditEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnabledMods" serializeAs="String">
                <value />
            </setting>
            <setting name="STFDir" serializeAs="String">
                <value />
            </setting>
        </VBLauncher.MySettings>
    </userSettings>
</configuration>