VBExtender/byte_arrays.h linguist-generated=true
VBLauncher/Editor.Designer.vb linguist-generated=true
VBLauncher/Main.Designer.vb linguist-generated=true
VBLauncher/ModLoader.Designer.vb linguist-generated=true
VBLauncher/Options.Designer.vb linguist-generated=true
VBLauncher/My Project/Application.Designer.vb linguist-generated=true
VBLauncher/My Project/AssemblyInfo.vb linguist-generated=true
VBLauncher/My Project/Resources.Designer.vb linguist-generated=true
VBLauncher/My Project/Settings.Designer.vb linguist-generated=true