<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VBEditor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VBEditor.My.MySettings>
            <setting name="STFDir" serializeAs="String">
                <value />
            </setting>
            <setting name="STFEditEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </VBEditor.My.MySettings>
    </userSettings>
</configuration>
